.trainerDataContainer {
  display: flex;
  min-height: 100%;
  min-width: 100%;

  .trainerListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    margin-right: 20px;
    padding: 1rem;
    max-width: 350px;
    min-width: 200px;
    background-color: #191919;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    overflow: hidden;

    .trainerList-tabs {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 18%;
      margin-bottom: 20px;

      .trainerTab {
        height: fit-content;
        width: 100%;
        margin: 0 auto;
        padding: 5px 20px;
        border: 1px solid #cacaca3f;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
          color: #cacaca;
          border: 1px solid #cacaca;
        }
      }
    }

    .trainerList-listContainer {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      scrollbar-color: #535353 transparent;
      scroll-behavior: smooth;
      scrollbar-width: thin;

      ol {
        width: 100%;
        text-align: left;
        height: 100%;
        border: 1px solid white;
        border-radius: 15px;
        overflow: scroll;

        li {
          width: 100%;
          height: 1.5rem;
          margin-top: 0.9em;
          width: 100%;
          padding-left: 10px;
          font-size: 1.1rem;
          line-height: 1rem;
          border-bottom: 1px solid black;
        }

        li:hover {
          cursor: pointer;
          color: #cacaca;
          text-decoration: underline;
        }
      }
    }
  }

  .teamDataContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    overflow: hidden;
    background-color: #191919;

    .teamData-header {
      display: flex;
      flex-direction: column;
      height: 15%;
      width: 100%;
      padding: 1rem 0 1rem 1rem;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
      margin-bottom: 1rem;

      .teamData-trainerName {
        height: 60%;
        width: 100%;
        text-align: left;
        font-size: 2rem;
        font-weight: 300;
      }

      .teamData-battleType {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40%;
        width: 100%;

        .battleType-tab {
          border: none;
          font-size: 1.3rem;
          font-weight: 400;
          width: 20%;
          height: 70%;
          color: #f5f5f5;
          border: 1px solid #cacaca3f;
          padding: 5px 20px;
          border-radius: 12px;

          &:hover {
            cursor: pointer;
            color: #cacaca;
            border-color: #cacaca;
            margin-top: 5px;
          }

          .battleType-tab[disabled] {
            pointer-events: none;
            background-color: #cacaca;
            color: #535353;
          }
        }

        .rematches {
          display: flex;
          &:hover {
            cursor: default;
            color: #f5f5f5;
            text-decoration: none;
          }
          .rematch-tabs {
            display: flex;
            justify-content: space-around;

            .remIndex {
              width: fit-content;
              height: fit-content;
              &:hover {
                cursor: pointer;
                color: #cacaca;
              }
            }
          }
        }
      }
    }
    .teamData-pokemonContainer {
      display: flex;
      height: 75%;
      width: 100%;

      .teamTable {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 1rem;

        .pokemonCard {
          display: flex;
          flex-direction: column;
          border: 1px solid white;
          border-radius: 15px;

          .cardHeader {
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            padding: 0.5rem 1rem;

            .pokemonName {
              height: 60%;
              font-size: 1.2rem;
              width: fit-content;

              &:hover {
                cursor: pointer;
                color: #cacaca;
                text-decoration: underline;
              }
            }

            .pokemonType {
              width: fit-content;

              img {
                width: 30px;
                height: 30px;
              }
            }
          }

          .pokemonData {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 85%;
            padding: 0.5rem 1rem;

            .pokemonData-details {
              display: flex;
              height: 40%;
              width: 100%;

              .pokemonIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 6rem;
                width: 9rem;
                border: 1px solid grey;
                border-radius: 15px;

                img {
                  image-rendering: pixelated;
                  display: block;
                  height: 5rem;
                  width: 5rem;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              .abi-item {
                text-align: right;

                .pokemonAbility {
                  display: flex;
                  flex-direction: column;
                  height: 20%;
                  width: 100%;
                  margin: 0.5rem 0;

                  &:hover {
                    cursor: pointer;
                    color: #cacaca;
                    text-decoration: underline;
                    text-underline-offset: 0.2rem;
                  }
                }

                .heldItem {
                  margin: 0.5rem 0;
                  height: 1rem;
                  width: 100%;
                }

                .heldItem-img {
                  height: 50px;
                  width: 100%;

                  img {
                    image-rendering: pixelated;
                    height: 50px;
                    width: 50px;
                  }
                }
              }
            }

            .moveSet {
              margin: 0.5rem 0;
              height: 20%;
              width: 100%;

              .moveSet-title {
                height: 1.5rem;
                font-size: 1.2rem;
                text-align: left;
                text-decoration: underline;
              }

              .movesTable {
                height: fit-content;
                width: 100%;
                text-align: left;
                display: grid;
                row-gap: 0.3rem;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .move {
                  &:hover {
                    cursor: pointer;
                    color: #cacaca;
                    text-decoration: underline;
                    text-underline-offset: 0.2rem;
                  }
                }
              }
            }

            .ev-iv {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 20%;
              margin-top: 1rem;

              .evs {
                text-align: left;
                display: flex;
                width: 100%;
                margin-bottom: 0.5rem;

                .ev {
                  width: fit-content;
                  margin: 0 0.4rem;
                }
              }
              .ivs {
                display: flex;
                height: max-content;
                width: 100%;

                .iv {
                  width: fit-content;
                  margin: 0 0.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
